html{
    height:100%;
}
body{
    background-color: rgb(32, 32, 32);
    color:white;
    margin: 0;
}

.box{
    display:flex;
}


/* ---------------------------------------------------------- */
/* 左画面 */
/* ---------------------------------------------------------- */
.make{
    width: 100%;
    height:100%;
    background:linear-gradient(-135deg, #000000, #d80303);
    text-align:center;
    position: relative;
}

h1{
    font-size: 200%;
    text-align: center;
}

#tukure{
    font-size: 60px;
    text-align: center;
}

#count{
    font-size:40px;
    text-align: center;
}

#weapon{
    width:450px;
    height:450px;
    margin:0 auto;
}

#clickpoint{
    position: absolute;
    top: 50%;
    left: 50%;

}

/* ---------------------------------------------------------- */
/* 右画面 */
/* ---------------------------------------------------------- */


.menu{
    width: 100%;
    height:100%;
    background-color: rgb(81, 106, 128);
    text-align: center;
}

p{
font-size: large;
}

/*-----------------------------------------------------*/
/*アップグレード*/
/*-----------------------------------------------------*/

.upgrade{
    background-color: rgb(182, 104, 104);
    text-align:center;
}

.upgrade p{
    font-size:110%;
}

#now_weapon_png{
    width:100px;
    height:100px;
}

#next_weapon_png{
    width:100px;
    height:100px;
}

.upgrade_box_1{
    display:flex;
    margin:0 200 0 200;
}

.upgrade_box_2{
    display:flex;
    margin:0 200 0 200;
}

/*-----------------------------------------------------*/
/*雇用*/
/*-----------------------------------------------------*/
.hire{
    background-color: blue;
    text-align:center;
}

/*-----------------------------------------------------*/
/*購入＆売却*/
/*-----------------------------------------------------*/
.sale{
    background-color: green;
    text-align:center;
}
