html{
    height:100%;
}
body{
    background-color: rgb(32, 32, 32);
    color:white;
    margin: 0;
}

.box{
    display:flex;
}

#big{
    font-size: 130%;
}

/* ---------------------------------------------------------- */
/* 左画面 */
/* ---------------------------------------------------------- */
.make{
    width: 100%;
    height:100%;
    background:linear-gradient(-135deg, #000000, #d80303);
    text-align:center;
    position: relative;
}

.imgbox{
    display: flex;
    text-align: center;
}

.imgbox img{
    width:5%;
    height:5%;
    margin:0 23;
}

.quantitiybox{
    display: flex;
    gap:10px;
    font-size: 5px;
}

h1{
    font-size: 200%;
    text-align: center;
}

#tukure{
    font-size: 60px;
    text-align: center;
}

#count{
    font-size:40px;
    text-align: center;
}

#weapon{
    width:450px;
    height:450px;
    margin:0 auto;
}

#clickpoint{
    position: absolute;
    color: blue;
    top: 50%;
    left: 50%;
}
/* アニメーションの設定 */
.fadeout {
    animation : fadeOut 3s;
    animation-fill-mode: both;
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: scale(1) translate(0%, -500%);
    }
  }
  
/* ---------------------------------------------------------- */
/* 右画面 */
/* ---------------------------------------------------------- */


.menu{
    width: 100%;
    height:100%;
    background-color: rgb(81, 106, 128);
    text-align: center;
}

p{
font-size: large;
}

/*-----------------------------------------------------*/
/*アップグレード*/
/*-----------------------------------------------------*/

.upgrade{
    background-color: rgb(182, 104, 104);
    text-align:center;
}

.upgrade p{
    font-size:110%;
}

#now_weapon_png{
    width:100px;
    height:100px;
}

#next_weapon_png{
    width:100px;
    height:100px;
}

.upgrade_box_1{
    display:flex;
    margin: 0 200 0 200;
    gap:0 10px;
}  

.upgrade_box_2{
    display:flex;
    margin:0 200 0 200;
    gap:0 10px;
}

/*-----------------------------------------------------*/
/*雇用*/
/*-----------------------------------------------------*/
.hire{
    background-color: blue;
    text-align:center;
}

.hire img{
    width:5%;
    height:5%;
}

.hire_box{
    display: flex;
    margin:0 100 0 100;
    gap:0 5px;
}

/*-----------------------------------------------------*/
/*購入*/
/*-----------------------------------------------------*/

.buysell{
    background-color: green;
    text-align:center;
}

.buysell_box{
    display: flex;
    margin: 0;
}

.buy{
    background-color: rgb(212, 176, 135);
    width:100%;
    color:rgb(0, 0, 0);
}
.buy_box{
    background-color: rgb(212, 176, 135);
    color:rgb(0, 0, 0);
}
.buy_box img{
    margin:10;
    width:19%;
    height:19%;
}
.item1,.item2,.item3,.item4{
    margin :10 40;
    display: flex;
    gap:0 5px;
}

.sell{
    background-color: rgb(236, 175, 8);
    width:100%;
    color:rgb(0, 0, 0);   
}
.sell_box{
    background-color: rgb(236, 175, 8);
    color:rgb(0, 0, 0);
    display: flex;
}

/*-----------------------------------------------------*/
/*売却*/
/*-----------------------------------------------------*/